### JupyterNotebook ###

.ipynb_checkpoints
*/.ipynb_checkpoints/*


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


### Data ###

*.npz
data/train/
data/test/


### VSCode ###

.vscode/